## Project Requirements

Create a new repository on your Github account and name it Coursera_Capstone. 

- Now, start a Jupyter Notebook using any platform that you are comfortable with and do the following:

    1. Write some markdown to explain that this notebook will be mainly used for the capstone project.
    2. Import the pandas library as pd.
    3. Import the Numpy library as np.
    4. Print the following the statement: Hello Capstone Project Course!
    5. Push the Notebook to your Github repository and submit a link to the notebook on your Github repository.

#### A Jupyter Notebook for Coursera Capstone project

In [2]:
import pandas as pd
import numpy as np

In [3]:
print("Hello Capstone Project Course!")

Hello Capstone Project Course!

#### Please Ignore the following displays.
#### I added some test cells for pandas and numpy

In [8]:
# The code was removed by Watson Studio for sharing.

A    100
B     50
C     25
D      0
dtype: int64

In [9]:
# The code was removed by Watson Studio for sharing.

           State      Capital  Population
0          Texas       Austin      931830
1       Illinois  Springfield      114868
2     California   Sacramento      509082
3  Massachusetts       Boston      698898

In [11]:
# The code was removed by Watson Studio for sharing.

array([1, 2, 3, 4, 5, 6])

In [12]:
# The code was removed by Watson Studio for sharing.

array([[1, 2, 3],
       [4, 5, 6]])